

body
{
  background-color: inherit;
  display: block;
  font-family: sans-serif;
}

#header
{
  width: 100%;
  /*background-color: 1C9AD8;*/
  /*background-color: #1C81D1;*/
}

.navBar
{
  /*background-color: #66CCFF;*/
  width: 100%;
  height:50px;
  padding: 10px;
  align-content: center;
  color: black;
  font-family: sans-serif;
  text-decoration: none;
}


#nav ul {
  /*background-color: #66CCFF;*/
  list-style:none;
  display:inline;
  margin:0px;
  padding:0px;
}


#nav li {
  display: inline;
  line-height:1.8em;
  padding: 10px;
  font-size: 25px;
  text-decoration: none;


}

#nav li a:hover{
  text-decoration: underline;
  color: gray;
}

#nav li a{
  /*color: d7f7f4;*/
  color: black;
}

#contents{
  /*border: solid;*/
  /*border-color: eeeeee;*/
  border-width: 5px;
  /*border-color: cornsilk;*/

}

#content1
{
  display: inline-flex;
  width: 100%;
  min-height: 100px;
  border: solid;
  border-color: cornsilk;
  background-color: floralwhite;
  margin-top: -30px;
}

.col1
{
  display: block;
  height: 300px;
  width:30%;
  margin-left: 10px;
  border-right: solid;
  border-color: cornsilk;
  /*background-color: 66cef4;*/
}

.col2
{
  display: block;
  width: 60%;
  min-height: 100px;
  margin: 10px;
  font-size: 20px;
  font-family: sans-serif;
}

.col3
{

  display: block;
  height: 300px;
  width: 30%;
  margin: 10px;
  border-left: solid;
  border-color: cornsilk;
  min-height: 100px;
  min-width: 100px;
  background-color: floralwhite;
}

.col3Header{
  background-color: none;
  font-size:  30px;
  font-style: normal;
  font-family: sans-serif;
  padding: 10px;
}

#content2
{
  display: inline-flex;
  width: 100%;
  border: solid;
  min-height: 100px;
  border-color: cornsilk;
  background-color: floralwhite;
  margin-top: -10px;
}

.col4
{
  display: block;
  width: 25%;
  min-width: 100px;
  border-right: solid;
  border-color: cornsilk;
  background-color: floralwhite;
}

.col5
{
  display: block;
  height: 300px;
  width: 47%;
  min-height: 100px;
  background-color: floralwhite;
}

.col6
{
  display: block;
  height: 300px;
  width: 25%;
  border-left: solid;
  border-color: cornsilk;
  background-color: floralwhite;
  /*margin-top: -10px;*/
}

#col1Header
{
/*background-color: darkgray;*/
font-size:  30px;
font-style: normal;
font-family: sans-serif;
/*padding-left: 10px;*/

}

#col1Date
{

font-size:  15px;
font-style: italic;
font-family: sans-serif;

}

#col1Content
{
padding-top: 10px;
font-size:  20px;
font-style: italic;
font-family: sans-serif;
background-color: inherit;

}

div{
  margin: 10px;
}

.panel1{
  display: inline-flex;
  border-bottom: solid;
  border-color: cornsilk;
}

.row1{
background-color: oldlace;
/*border-left: solid;
color: cornsilk;*/
}


.panel2{
  display: inline-flex;
}

.row5{
/*padding-bottom: 30px;*/
/*background-color: oldlace;*/
border-bottom: solid;
border-color: cornsilk;
}


.row3Content
{
    min-height: 100px;
    display: inline-flex;
}

.special{
  display: inline-flex;
  margin-left: 400px;
  margin-top: -150px;
}


#tfheader{
		background-color:#c3dfef;
	}

#tfnewsearch{
		float:right;
		padding:20px
